@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #FEFBF5;
    position: static;
    /* border: 4px solid red; */
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 65px;
    height: 13vh;
}

.logo {
    font-size: 34px;
    font-weight: 700;
    cursor: pointer;
}

.logo span {
    color: #D77C62;
}

/* MenuBar Coding Starts Here */

.hamberger-menu {
    width: 30px;
    height: 30px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.bar {
    width: 100%;
    height: 2px;
    background-color: #000;
    position: absolute;
    transition: all 0.3s ease-out;
}

.bar.upper-bar {
    transform: translatey(10px);
}

.bar.lower-bar {
    transform: translatey(-10px);
}

.hamberger-menu, .menu-list {
    position: relative;
    z-index: 2;
}

.menu-list {
    display: none;
}

.menu-list>ul {
    list-style: none;
    margin-top: 125px;
}

.menu-list>ul>li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.menu-list>ul>li a:hover {
    background-color: rgba(0, 0, 0, 0.2);
    animation: linkAnimation 0.2s ease-out;
}

.menu-background {
    width: 600px;
    height: 600px;
    position: fixed;
    top: -90px;
    right: -600px;
    z-index: 1;
    background-color: #D77C62;
    /* background-color: transparent; */
    transform: translate(-100%, -100%);
    transition: all 0.3s ease-out;
    border-radius: 100%;
}

.navigation-block:hover .bar.upper-bar, .navigation-block:hover .bar.lower-bar {
    transform: translatey(0px);
}

.navigation-block:hover .bar.upper-bar {
    transform: rotate(45deg);
}

.navigation-block:hover .bar.lower-bar {
    transform: rotate(-45deg);
}

.navigation-block:hover .bar.middle-bar {
    transform: translatex(-1000px);
}

.navigation-block:hover .menu-list {
    display: block;
}

.navigation-block:hover .menu-background {
    animation: bubblePresent 0.3s ease-out;
    transform: translate(-50%, -30%);
}

@keyframes linkAnimation {
    0% {
        /*transform: translateX(50px);*/
        transform: scale(1.1);
    }
    80% {
        /*transform: translateX(-10px);*/
        transform: scale(0.9);
    }
    100% {
        /*transform: translateX(0px);*/
        transform: scale(1);
    }
}

@keyframes bubblePresent {
    0% {
        transform: translate(-100%, -100%);
    }
    80% {
        transform: translate(-45%, -25%);
    }
    100% {
        transform: translate(-50%, -30%);
    }
}

/* MenuBar Coding ends Here */

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
}

.hero-text {
    padding: 0px 65px;
}

.hero-text .greeting {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: -10px;
}

.hero-text .my-name {
    font-size: 58px;
    font-weight: 700;
}

.hero-text .i-am {
    font-size: 34px;
    font-weight: 500;
}

.hero-text .i-am span {
    color: #D77C62;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    transition: all 1s ease-in;
}

.hero-text .i-am span:hover {
    border-bottom: 1px solid black;
}

.hero img {
    margin-right: 34px;
    width: 43%;
}

.btns {
    margin-top: 20px;
}

.btns .hero-btn {
    background-color: #D77C62;
    border: 2px solid transparent;
    color: white;
    padding: 6px 18px;
    font-size: 16px;
    border-radius: 4px;
}

.btns .hero-btn:hover {
    background-color: transparent;
    border: 2px solid #D77C62;
    color: #000;
}

.btns .ghost-btn {
    color: #000;
    font-size: 16px;
    margin-left: 20px;
    border-bottom: 2px solid #D77C62;
}

.btns .ghost-btn:hover {
    color: #D77C62;
}

.headings {
    padding: 0px 65px;
    font-size: 58px;
    font-weight: 700;
    margin-bottom: -33px;
}

.about-me {
    width: 75vw;
    background-color: #3BAB87;
    color: #FFF;
    margin: auto;
    margin-bottom: 50px;
    padding: 0px 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about-me .title {
    margin-top: 34px;
    font-weight: 500;
    color: #000;
    text-align: left;
}

.desc p span {
    font-weight: 500;
    display: block;
}

.desc p {
    font-size: 17px;
    font-weight: 300;
    text-align: justify;
}

.desc ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.desc ul li {
    padding: 0px 12px;
    margin: 8px 16px 0px 0px;
    background-color: #59289e;
    cursor: pointer;
}

.desc3 img {
    width: 12%;
    margin: 8px 16px 0px 0px;
    background-color: white;
    padding: 10px 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 34px;
    cursor: pointer;
}

.desc3 img:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.projects {
    width: 75vw;
    background-color: #D7E0E5;
    color: #000;
    margin: auto;
    margin-bottom: 50px;
    padding: 0px 28px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 48px 0px;
    text-align: center;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-justify: right;
    margin-bottom: 12px;
}

.details a {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.code, .demo {
    width: 100px;
    border-radius: 6px;
    padding: 6px 14px;
    border: 2px solid transparent;
}

.code {
    background-color: #D77C62;
    box-shadow: 0px 5px 0px 0px #ecc7bd;
}

.code:hover {
    background-color: #e98c72;
}

.demo {
    background-color: #59289e;
    box-shadow: 0px 5px 0px 0px #9771cc;
}

.demo:hover {
    background-color: #663e9e;
}

.demo:active, .code:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
}

#prev, #next {
    margin: 8px 12px;
    color: #022E57;
    font-size: 34px;
    font-weight: 500;
    padding: 24px;
}

.projects .thumbnail {
    margin: 0 0 18px;
}

.projects img {
    width: 75%;
    height: 75%;
}

.projects .title {
    margin: 0 0 12px;
    color: #022E57;
    font-size: 24px;
    transition: 0.5s ease;
}

.projects .description {
    margin: 0 0 48px;
    font-size: 18px;
    color: #000;
}

.my-self {
    width: 75vw;
    background-color: #1F4954;
    color: #FFF;
    margin: auto;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.my-self .my-info {
    width: 50%;
    padding: 44px;
}

.my-self .my-info h1 {
    font-size: 40px;
    font-weight: 700;
}

.my-self .my-info a {
    color: #FFF;
    transition: all 1s ease;
}

.my-self .my-info a:hover {
    text-decoration: underline;
}

.my-self .my-info hr {
    width: 15%;
    height: 4px;
    background: #FFF;
    margin: 54px 0px;
    border: none;
}

.my-self .my-photo {
    width: 50%;
    background-color: #D5D4CF;
}

.my-self .my-photo img {
    width: 50%;
    width: 100%;
}

.my-self .my-info .my-info-intro {
    line-height: 28px;
}

.my-self .my-info .my-info-intro a {
    text-decoration: underline;
}

.my-self .my-info .my-info-name {
    margin-top: 50px;
    line-height: 24px;
}

.my-self .my-info i {
    font-size: 34px;
    margin-top: 24px;
    padding-right: 24px;
}

/*Responsive Web Design Starts Here*/

@media (max-width: 1080px) {
    .hero-text .greeting {
        font-size: 20px;
    }
    .hero-text .my-name {
        font-size: 44px;
    }
    .hero-text .i-am {
        font-size: 26px;
    }
    .btns .hero-btn {
        padding: 5px 16px;
        font-size: 14px;
    }
    .btns .ghost-btn {
        font-size: 14px;
        margin-left: 18px;
    }
    .my-self .my-info h1 {
        font-size: 34px;
    }
}

@media (max-width: 890px) {
    .about-me {
        width: 80%;
    }
    .projects {
        width: 80%;
    }
    .my-self {
        width: 80%;
    }
    .hero {
        margin-top: 25px;
        background-image: url('../img/hero.png');
    }
    .hero-text .greeting {
        font-size: 20px;
    }
    .hero-text .my-name {
        font-size: 44px;
    }
    .hero-text .i-am {
        font-size: 26px;
    }
    .hero img {
        display: none;
    }
    .hero .hero-text {
        margin-top: 12%;
    }
    .my-self .my-info h1 {
        font-size: 25px;
    }
    .my-self .my-photo {
        display: none;
    }
    .my-self .my-info {
        width: 100%;
    }
}

@media (max-width: 550px) {
    .about-me {
        width: 95%;
    }
    .projects {
        width: 95%;
    }
    .my-self {
        width: 95%;
    }
    header, .hero-text {
        padding: 0px 28px;
    }
    .desc ul {
        flex-wrap: wrap;
    }
    .demo {
        margin-left: 12px;
    }
    .desc p {
        font-size: 15px;
    }
    .desc3 img {
        width: 28%;
    }
}

@media (max-width: 430px) {
    .headings {
        margin-top: 24px;
        font-size: 42px;
        margin-bottom: -24px;
    }
    .hero {
        height: 75vh;
    }
    .my-self .my-info {
        padding: 18px;
        padding-top: 24px;
    }
    .my-self .my-info h1 {
        font-size: 28px;
    }
    .my-self .my-info .my-info-intro {
        line-height: 24px;
        font-size: 14px;
    }
    .my-self .my-info .my-info-name {
        font-size: 14px;
    }
    .my-self .my-info i {
        font-size: 24px;
    }
}

@media (max-width: 400px) {
    .logo {
        font-size: 28px;
    }
    .hero-text .greeting {
        font-size: 16px;
    }
    .hero-text .my-name {
        font-size: 38px;
    }
    .hero-text .i-am {
        font-size: 24px;
    }
    .btns .hero-btn {
        padding: 5px 16px;
        font-size: 12px;
    }
    .btns .ghost-btn {
        font-size: 12px;
        margin-left: 18px;
    }
    .my-self .my-info h1 {
        font-size: 30px;
    }
    .desc3 img {
        width: 34%;
    }
}

@media (max-width: 300px) {
    .headings {
        font-size: 10px;
        margin-bottom: -18px;
    }
    .my-self .my-info {
        padding: 18px;
        padding-top: 24px;
    }
    .my-self .my-info h1 {
        font-size: 22px;
    }
    .my-self .my-info .my-info-intro {
        line-height: 24px;
        font-size: 16px;
    }
    .my-self .my-info .my-info-name {
        font-size: 14px;
    }
    .my-self .my-info i {
        font-size: 19px;
    }
}

@media (max-width: 350px) {
    .hero {
        height: 50vh;
    }
    .logo {
        font-size: 22px;
    }
    .hero-text .greeting {
        font-size: 14px;
        margin-bottom: -4px;
    }
    .hero-text .my-name {
        font-size: 26px;
    }
    .hero-text .i-am {
        font-size: 18px;
    }
    .btns .hero-btn {
        padding: 5px 16px;
        font-size: 10px;
    }
    .btns .ghost-btn {
        font-size: 10px;
        margin-left: 12px;
    }
    .my-self .my-info h1 {
        font-size: 22px;
    }
    .headings {
        font-size: 34px;
        margin-bottom: -20px;
    }
    .about-me {
        padding: 0px 8px;
    }
    .desc p {
        font-size: 13px;
    }
    .desc ul li {
        padding: 0px 10px;
    }
    .desc3 img {
        width: 28%;
    }
}